@charset "utf-8";
/* CSS Document */
body,html{
	width:100%;
	height:100%;
	background:url(../img/1-1.jpg) no-repeat;
	overflow:hidden;
}
@media (min-device-width:1367px){
	body,html{
		width:1366px;
		height:768px;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-683px;
		margin-top:-384px;
	}
}
.opacity_box{
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	position:absolute;
}
/*滚动提示*/
@keyframes tips{
	0%{opacity:0;transform:translate(0,-10px);}
	50%{opacity:0.5;transform:translate(0,-5px);}
	100%{opacity:0;transform:translate(0,0);}
}
@keyframes tips_text{
	0%{opacity:0;}
	50%{opacity:0.3;}
	100%{opacity:0.7;}
}
.scr_tips{
	position:absolute;
	left:50%;
	bottom:30px;
	z-index:999;
	margin-left:-50px;
	width:100px;
	height:20px;
	font-size:20px;
	text-align:center;
	line-height:20px;
	color:#fff;
	opacity:0;
	-webkit-animation:tips 2s 1s linear infinite;
	-moz-animation:tips 2s 1s linear infinite;
	-ms-animation:tips 2s 1s linear infinite;
}
.scr_tips_text{
	position:absolute;
	left:50%;
	bottom:10px;
	z-index:999;
	margin-left:-100px;
	width:200px;
	height:20px;
	font-size:10px;
	text-align:center;
	line-height:20px;
	color:#fff;
	opacity:0;
	-webkit-animation:tips_text 2s 1s linear infinite;
	-moz-animation:tips_text 2s 1s linear infinite;
	-ms-animation:tips_text 2s 1s linear infinite;
}
/*logo*/
#logo{
	position:absolute;
	left:0;
	top:0;
	z-index:999;
	padding:8px 20px;
}
#logo a{
	display:block;
	width:98px;
	height:26px;
	text-align:center;
	line-height:26px;
	font-size:20px;
	font-weight:bold;
	font-family:"微软雅黑";
	color:#fff;
	position:relative;
}
#logo a:before,#logo a:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	margin:-2px;
	border:2px solid #9c9;
	/*border-radius:10px;*/
}
/*裁剪矩形 宽2-4 高3-1*/
@keyframes line1{
	0%,100%{clip:rect(0px,102px,2px,0px);opacity:1;}
	25%{clip:rect(0px,102px,30px,100px);opacity:0;}
	50%{clip:rect(28px,102px,30px,0px);opacity:1;}
	75%{clip:rect(0px,2px,30px,0px);opacity:0;}
}
@keyframes line2{
	0%,100%{clip:rect(28px,102px,30px,0px);opacity:1;}
	25%{clip:rect(0px,2px,30px,0px);opacity:0;}
	50%{clip:rect(0px,102px,2px,0px);opacity:1;}
	75%{clip:rect(0px,102px,30px,100px);opacity:0;}
}
#logo a:before{
	-webkit-animation:line1 4s linear infinite;
	-moz-animation:line1 4s linear infinite;
	-ms-animation:line1 4s linear infinite;
}
#logo a:after{
	-webkit-animation:line2 4s linear infinite;
	-moz-animation:line2 4s linear infinite;
	-ms-animation:line2 4s linear infinite;
}
/*天气*/
.weather{
	position:absolute;
	left:140px;
	top:10px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family:"微软雅黑";	
	letter-spacing:2px;
	z-index:999;
	cursor:pointer;
}
.weather_list{
	position:absolute;
	left:236px;
	top:10px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	font-family:"微软雅黑";	
	letter-spacing:2px;
	z-index:998;
	opacity:0;
	-webkit-transform:translateX(-108px);
	-moz-transform:translateX(-108px);
	-ms-transform:translateX(-108px);
}
.weather_list li{
	float:left;
	border-left:1px solid #fff;
	padding-left:10px;
	margin-left:10px;
	text-align:left;
}
/**/
/*卡体和导航按钮*/
.page_box{
	width:100%;
	position:relative;
	margin:0 auto;
}
.page_box .page_btn{
	position:absolute;
	right:0;
	top:0;
	width:100%;
	/*border-bottom:1px solid rgba(0,0,0,0.5);*/
	background:rgba(51,51,51,0.5);
	text-align:right;
	padding:6px 10px;
	z-index:996;
}
.page_box .page_btn li{
	display:inline-block;
	padding:4px 10px 4px 0px;
	letter-spacing:1px;
	border-right:1px solid #eee;
	font-size:16px;
	font-weight:bold;
	font-family:"微软雅黑";
}
.page_box .page_btn li:last-child{
	border-right:none;
}
.page_box .page_btn li a{
	position:relative;
	padding-bottom:4px;
	text-decoration:none;
	color:#fff;
}
.page_box .page_btn li a:after{
	content:'';
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:2px;
	background:#9c9;
	-webkit-transition:0.3s all ease;
	-webkit-transform:scaleX(0);
	-moz-transition:0.3s all ease;
	-moz-transform:scaleX(0);
	-ms-transition:0.3s all ease;
	-ms-transform:scaleX(0);
}
.page_box .page_btn li a.active{
	color:#9c9;
}
.page_box .page_btn li a.active:after{
	-webkit-transform:scaleX(1);
	-moz-transform:scaleX(1);
	-ms-transform:scaleX(1);
}
/*.page_box .page_btn li a:hover{
	color:#9c9;
}*/
.page_box .page_btn li a:hover:after{
	-webkit-transform:scaleX(1);
	-moz-transform:scaleX(1);
	-ms-transform:scaleX(1);
}
.page_box .page_content{
	width:100%;
}
.page_box .page_content li{
	width:100%;
	overflow:hidden;
	position:relative;
}
@keyframes top{
	0%{opacity:1;transform:perspective(800px) rotateX(0deg);}
	50%{opacity:0.8;transform:perspective(800px) rotateX(4deg);}
	100%{opacity:1;transform:perspective(800px) rotateX(0deg);}
}
.top{
	-webkit-animation:top 0.4s ease;
	-moz-animation:top 0.4s ease;
	-ms-animation:top 0.4s ease;
}
@keyframes bottom{
	0%{opacity:1;transform:perspective(800px) rotateX(0deg);}
	50%{opacity:0.8;transform:perspective(800px) rotateX(-4deg);}
	100%{opacity:1;transform:perspective(800px) rotateX(0deg);}
}
.bottom{
	-webkit-animation:bottom 0.4s ease;
	-moz-animation:bottom 0.4s ease;
	-ms-animation:bottom 0.4s ease;
}
/*工作经历到顶动画*/
@keyframes top2{
	0%{transform:translateY(0);}
	50%{transform:translateY(20px);}
	100%{transform:translateY(0);}
}
.top2{
	-webkit-animation:top2 0.6s ease;
	-moz-animation:top2 0.6s ease;
	-ms-animation:top2 0.6s ease;
}
@keyframes bottom2{
	0%{transform:translateY(0);}
	50%{transform:translateY(-20px);}
	100%{transform:translateY(0);}
}
.bottom2{
	-webkit-animation:bottom2 0.6s ease;
	-moz-animation:bottom2 0.6s ease;
	-ms-animation:bottom2 0.6s ease;
}
/*第一页*/
.page1_front{
	width:800px;
	height:100px;
	font-size:50px;
	line-height:100px;
	color:#fff;
}
.page1_front1{
	position:absolute;
	left:140px;
	top:150px;
}
@keyframes moveFront1{
	0%{opacity:0;transform:translateX(-200px);}
	50%{opacity:0.4;transform:translateX(50px);}
	100%{opacity:1;transform:translateX(0px);}
}
.moveFront1{
	-webkit-animation:moveFront1 0.8s ease;
	-moz-animation:moveFront1 0.8s ease;
	-ms-animation:moveFront1 0.8s ease;
}
.page1_front2{
	position:absolute;
	left:220px;
	top:350px;
}
@keyframes moveFront2{
	0%{opacity:0;transform:translateX(-200px);}
	50%{opacity:0.4;transform:translateX(50px);}
	100%{opacity:1;transform:translateX(0px);}
}
.moveFront2{
	-webkit-animation:moveFront2 1s ease;
	-moz-animation:moveFront2 1s ease;
	-ms-animation:moveFront2 1s ease;
}
.page1_pic{
	width:150px;
	height:150px;
	background:url(../img/pic1.jpg) 50% 50% no-repeat;
	background-size:100% 100%;
	border:4px solid rgba(0,0,0,0.5);
	border-radius:50%;
	position:absolute;
	right:190px;
	top:80px;
	font-size:20px;
	text-align:center;
	line-height:150px;
	color:#fff;
	-webkit-transform:translate(0,-300px);
	-moz-transform:translate(0,-300px);
	-ms-transform:translate(0,-300px);
}
.page1_msg{
	position:absolute;
	right:50px;
	top:280px;
	opacity:0;
	-webkit-transform:translate(0,-50px);
	-moz-transform:translate(0,-50px);
	-ms-transform:translate(0,-50px);
}
.page1_msg p{
	/*width:192px;*/
	height:40px;
	font-size:20px;
	text-align:center;
	line-height:40px;
	color:#fff;
	padding:0 4px 0 4px;
}
/*第二页*/
.scale_box{
	width:800px;
	margin:160px auto 0;
	position:relative;
}
.moveFront3{
	-webkit-animation:moveFront2 1.4s ease;
	-moz-animation:moveFront2 1.4s ease;
	-ms-animation:moveFront2 1.4s ease;
}
.front{
	height:100px;
	font-size:40px;
	line-height:100px;
	color:#fff;
	position:absolute;
	left:210px;
	top:60px;
	opacity:0;
}
.scale{
	/*width:656px;*/
	margin:0 auto;
	float:left;
}
.scale div{
	width:150px;
	height:150px;
	position:relative;
	margin-left:50px;
	background:#fff;
	color:rgba(0,153,102,0);
	float:left;
	text-align:center;
	line-height:150px;
	font-size:40px;
	opacity:0;
	border-radius:50%;
	overflow:hidden;
	cursor:pointer;
}
.scale div:hover i{
	bottom:-6%;
}
.scale div.active i{
	bottom:-6%;
}
.scale div span{
	position:absolute;
	top:0;
	left:0;
	width:150px;
	height:150px;
	font-size:20px;
	line-height:240px;
	background:#9c9;
	color:rgba(0,0,0,0);
}
.scale div i{
	position:absolute;
	bottom:-14%;
	left:50%;
	margin-left:-10px;
	width:20px;
	height:20px;
	border-radius:50%;
	background:#9c9;
	-webkit-transition:0.4s all ease;
	-moz-transition:0.4s all ease;
	-ms-transition:0.4s all ease;
}
.moveFront4{
	-webkit-animation:moveFront2 1.8s ease;
	-moz-animation:moveFront2 1.8s ease;
	-ms-animation:moveFront2 1.8s ease;
}
.skill_box{
	width:600px;
	height:250px;
	position:absolute;
	left:50%;
	top:500px;
	padding:20px 40px;
	background:rgba(102,102,102,0.2);
	opacity:0;
	overflow:hidden;
}
.skill_box .skill{
	
}
.skill_box .skill li{
	width:600px;
	height:250px;
	background:rgba(0,0,0,0.3);
	margin-bottom:20px;
	opacity:0;
}
.skill_box .skill li:first-child{
	opacity:1;
}
.skill_box .skill li p{
	font-size:20px;
	font-weight:bold;
	color:#fff;
	padding:3px 20px;
	-webkit-transition:0.3s all ease;
	-moz-transition:0.3s all ease;
	-ms-transition:0.3s all ease;
}
.skill_box .skill li span{
	display:block;
	text-align:center;
	font-size:20px;
	font-weight:bold;
	padding:6px 10px;
	background:rgba(255,255,255,0.8);
	border-radius:10px;
	color:#096;
}
.skill_box .skill li p:hover{
	-webkit-transform:translateX(20px);
	-moz-transform:translateX(20px);
	-ms-transform:translateX(20px);
}
/*第三页*/
/*按钮*/
@keyframes click{
	10%{transform:rotateZ(0deg);width:100px;height:30px;box-shadow:0px 2px 2px #666;}
	20%{transform:rotateZ(5deg);width:102px;height:32px;box-shadow:0px 4px 2px #666;}
	30%{transform:rotateZ(0deg);width:104px;height:34px;box-shadow:0px 6px 2px #666;}
	40%{transform:rotateZ(5deg);width:102px;height:32px;box-shadow:0px 4px 2px #666;}
	50%{transform:rotateZ(0deg);width:100px;height:30px;box-shadow:0px 2px 2px #666;}
}
.nav .nav_btn a.click{
	-webkit-animation:click 0.5s ease 1;
	-moz-animation:click 0.5s ease 1;
	-ms-animation:click 0.5s ease 1;
}
.tab{
	width:1002px;
	margin:180px auto 0;
    opacity:0;
	position:relative;
    -webkit-transform:translate(0px,-400px);
    -moz-transform:translate(0px,-400px);
    -ms-transform:translate(0px,-400px);
}
.nav{
	width:800px;
	margin:-20px auto;
	margin-bottom:-10px;
    -webkit-transform:translate(0px,-400px);
    -moz-transform:translate(0px,-400px);
    -ms-transform:translate(0px,-400px);
}
.nav_box{
	width:600px;
	margin:10px auto;
}
.nav .nav_btn{
	width:100px;
	height:30px;
	margin:0px 10px;
}
.nav .nav_btn a{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	line-height:30px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
	border:2px solid #fff;
	background:rgba(0,0,0,0.4);
	/*opacity:1;*/
}
.nav .nav_btn a:hover{
	background:#9c9;
}
.nav .nav_btn a.active{
    background:#096;
}
/*盒子*/
.window{
	width:1002px;
	margin:0 auto;
	overflow:hidden;
}
.superbig_box{
	width:5000px;
	margin:0px auto;
}
.b_box{
	width:960px;
	margin:0 auto;
	padding:20px;
}
.box{
	width:300px;
	height:180px;
	margin:10px 10px 20px 10px;
	overflow:hidden;
}
.box a{
	display:block;
	width:100%;
	height:100%;
	position:relative;
}
.box a img{
	width:100%;
	height:100%;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	-ms-transition:0.5s all ease;
}
.box a span{
	width:100%;
	height:32px;
	position:absolute;
	left:0;
	bottom:-30px;
	z-index:-1;
	background:#096;
	color:#fff;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	line-height:32px;
	-webkit-transition:0.5s all ease;
	-moz-transition:0.5s all ease;
	-ms-transition:0.5s all ease;
}
.box:hover a span{
	bottom:0;
}
.box:hover a img{
	-webkit-transform:translate(0,-30px);
	-moz-transform:translate(0,-30px);
	-ms-transform:translate(0,-30px);
}
.moveFront5{
	-webkit-animation:moveFront2 2.6s ease;
	-moz-animation:moveFront2 2.6s ease;
	-ms-animation:moveFront2 2.6s ease;
}
.msg3{
	height:100px;
	font-size:40px;
	line-height:100px;
	color:#fff;
	position:absolute;
	left:30px;
	top:-100px;
	opacity:0;
}
/*第四页*/
.page4_front1{
	height:100px;
	font-size:40px;
	line-height:100px;
	color:#fff;
	position:absolute;
	left:210px;
	top:60px;
	opacity:0;
	/*-webkit-transition:1s all ease;*/
}
.page4_front2{
	font-size:20px;
	color:#fff;
	position:absolute;
	left:50%;
	bottom:40px;
	margin-left:-209px;
	opacity:0;
	-webkit-transform:translate(0,50px);
	-moz-transform:translate(0,50px);
	-ms-transform:translate(0,50px);
}
.page4_front2 a{
	font-size:14px;
	color:#fff;
	text-decoration:underline;
}
#pic_m{
	width:100px;
	height:100px;
	position:absolute;
	left:430px;
	top:-60px;
	z-index:999;
	display:none;
}
.moveFront6{
	-webkit-animation:moveFront2 1.3s ease;
	-moz-animation:moveFront2 1.3s ease;
	-ms-animation:moveFront2 1.3s ease;
}
.contact{
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-400px;
	margin-top:-150px;
	width:820px;
	padding:50px;
}
.icon{
	width:100px;
	height:100px;
	float:left;
	margin:0px 300px 80px 0px;
	background:rgba(0,0,0,0.5);
	border:4px solid #9c9;
	border-radius:50%;
	color:#9c9;
	text-align:center;
	line-height:92px;
	position:relative;
	-webkit-transform:translate(0,-600px);
	-moz-transform:translate(0,-600px);
	-ms-transform:translate(0,-600px);
	opacity:0;
}
.icon .opa_box{
	position:absolute;
	left:0;
	top:0;
	width:100px;
	height:100px;
	border:4px solid #9c9;
	box-sizing:border-box;
	border-radius:50%;
	opacity:0;
	-webkit-transition:0.3s all ease;
	-webkit-transform:scale(1.5,1.5);
	-moz-transition:0.3s all ease;
	-moz-transform:scale(1.5,1.5);
	-ms-transition:0.3s all ease;
	-ms-transform:scale(1.5,1.5);
}
.icon .icon-phone,.icon-weixin,.icon-qq,.icon-youxiang{
	font-size:50px;
}
.icon .front_box{
	position:absolute;
	left:120px;
	top:25px;
	width:0px;
	height:50px;
	background:rgba(0,0,0,0.5);
	border:3px solid #9c9;
	border-radius:10px;
	opacity:0;
	overflow:hidden;
}
.icon .front{
	position:absolute;
	left:0px;
	top:0px;
	font-size:20px;
	font-weight:600;
	color:#fff;
	width:200px;
	height:50px;
	line-height:50px;
	text-align:center;
	opacity:0;
	-webkit-transform:translate(-40px,0);
	-moz-transform:translate(-40px,0);
	-ms-transform:translate(-40px,0);
}
.icon:hover{
	background:#9c9;
}
.icon:hover .opa_box{
	-webkit-transform:scale(1,1);
	-moz-transform:scale(1,1);
	-ms-transform:scale(1,1);
	opacity:1;
}
.icon:hover .icon-phone,.icon:hover .icon-weixin,.icon:hover .icon-qq,.icon:hover .icon-youxiang{
	color:#fff;
}
.icon:hover .front_box{
	background:#9c9;
	border-color:#fff;
}
/*第五页*/
.page5_front1{
	height:100px;
	font-size:40px;
	line-height:100px;
	color:#fff;
	position:absolute;
	left:210px;
	top:60px;
	opacity:0;
}
.moveFront6{
	-webkit-animation:moveFront2 1.3s ease;
	-moz-animation:moveFront2 1.3s ease;
	-ms-animation:moveFront2 1.3s ease;
}
.page5_work_box{
	width:0px;
	height:400px;
	margin:180px auto;
	opacity:0;
	position:relative;
	overflow:hidden;
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
}
.page5_work_box .page5_work_btnBox{
	width:10px;
	position:absolute;
	right:1.2%;
	top:50%;
	margin-top:-24px;
	display:none;
}
.page5_work_box .page5_work_btnBox li{
	width:8px;
	height:8px;
	border:2px solid #fff;
	border-radius:50%;
	margin-bottom:4px;
	cursor:pointer;
	z-index:1;
}
.page5_work_box .page5_work_btnBox li.active{
	background:#fff;
}
.page5_work_box .page5_work_ul{
	wdith:800px;
	/*height:400px;*/
}
.page5_work_box .page5_work_ul li{
	width:800px;
	height:400px;
	background:rgba(102,102,102,0.2);
	border-radius:10px;
	color:#000;
}
.page5_work_box .updown{
	position:absolute;
	font-size:40px;
	color:rgba(255,255,255,0.2);
	z-index:1;
	cursor:pointer;
	display:none;
}
.page5_work_box .updown:hover{
	color:rgba(255,255,255,1);
}
#prev{
	top:0;
	left:50%;
	margin-left:-23px;
}
#next{
	bottom:0;
	left:50%;
	margin-left:-23px;
}
/*3D卡体*/
.page5_work_box .page5_work_ul li{
	
}
.page5_work_box .page5_work_ul li .bg{
	position:relative;
	left:25px;
	top:40px;
	width:750px;
	height:320px;
	background:rgba(0,0,0,0.5);
	background-size:100% 100%;
	border-radius:10px;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	
	-webkit-transition:0.2s all ease;
	-moz-transition:0.2s all ease;
	-ms-transition:0.2s all ease;
	
	-webkit-transform:perspective(800px) rotateX(0deg) rotateY(0deg);
	-moz-transform:perspective(800px) rotateX(0deg) rotateY(0deg);
	-ms-transform:perspective(800px) rotateX(0deg) rotateY(0deg);
	
	/*-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;*/
}
.page5_work_box .page5_work_ul li .bg .text{
	position:absolute;
	font-weight:bold;
}
.page5_work_box .page5_work_ul li .bg .text p{
	margin-bottom:4px;
}
.page5_work_box .page5_work_ul li .bg .text .text_date{
	margin-left:50px;
}
.page5_work_box .page5_work_ul li .bg .a{
	top:-6%;
	left:10%;
	font-size:30px;	
	color:#fff;
	width:60px;
	height:60px;
	background:rgba(0,150,100,1);
	border:2px solid rgba(0,0,0,0.5);
	border-radius:50%;
	text-align:center;
	line-height:60px;
	-webkit-transform:perspective(800px) translateZ(40px);
	-moz-transform:perspective(800px) translateZ(40px);
	-ms-transform:perspective(800px) translateZ(40px);
}
.page5_work_box .page5_work_ul li .bg .b{
	top:6%;
	right:10%;
	font-size:24px;	
	color:#fff;	
	-webkit-transform:perspective(800px) translateZ(20px);
	-moz-transform:perspective(800px) translateZ(20px);
	-ms-transform:perspective(800px) translateZ(20px);
}
.page5_work_box .page5_work_ul li .bg .c{
	top:25%;
	left:4%;
	color:#fff;
	font-size:20px;	
	-webkit-transform:perspective(800px) translateZ(0px);
	-moz-transform:perspective(800px) translateZ(0px);
	-ms-transform:perspective(800px) translateZ(0px);
}

